---
import Layout from "../layouts/Layout.astro";
import Card from "../components/Card.astro";

interface Item {
  softwareName: string;
  href: string;
  description: string;
  imgHref: string;
}

const PopularItems: Item[] = [
  {
    softwareName: "Canvas",
    href: "https://my.smccd.edu/canvas/",
    description:
      "Easily access your assignments, complete quizzes, participate in discussions, and interact with your course content, streamlining your learning experience to help you achieve better academic outcomes.",
    imgHref:
      "https://images.placeholders.dev/?width=300&height=100&text=Made%20with%20placeholders.dev&bgColor=%23f7f6f6&textColor=%236d6e71",
  },
  {
    softwareName: "MySMCCD Portal",
    href: "https://my.smccd.edu",
    description:
      "Access your student email, Canvas, Zoom, and other essential resources, ensuring a seamless academic experience and simplified management of your education journey.",
    imgHref:
      "https://images.placeholders.dev/?width=300&height=100&text=Made%20with%20placeholders.dev&bgColor=%23f7f6f6&textColor=%236d6e71",
  },
  {
    softwareName: "Student Success Link",
    href: "https://smcsv.force.com/SMCCDStudentAdvising/login?so=00D36000000Z4VG/",
    description:
      "Enhance student success by offering personalized academic advising, access to resources, and a holistic view of your academic progress, thereby empowering you to make informed decisions about your educational journey.",
    imgHref:
      "https://images.placeholders.dev/?width=300&height=100&text=Made%20with%20placeholders.dev&bgColor=%23f7f6f6&textColor=%236d6e71",
  },
  {
    softwareName: "WebSMART",
    href: "https://websmart.smccd.edu",
    description:
      "Access your academic records, enrollment functions, financial details, and other essential resources, ensuring a seamless academic experience and simplified management of their educational journey.",
    imgHref:
      "https://images.placeholders.dev/?width=300&height=100&text=Made%20with%20placeholders.dev&bgColor=%23f7f6f6&textColor=%236d6e71",
  },
];

const OtherItems: Item[] = [
  {
    softwareName: "WEPA",
    href: "wepa.com",
    description:
      "Designed for convenience and accessibility, WEPA ensures on-the-go printing across campuses, reducing the hassle and offering a modern solution to traditional print challenges.",
    imgHref:
      "https://images.placeholders.dev/?width=300&height=100&text=Made%20with%20placeholders.dev&bgColor=%23f7f6f6&textColor=%236d6e71",
  },
  {
    softwareName: "WebSchedule",
    href: "https://webschedule.smccd.edu",
    description:
      "Designed for convenience and accessibility, WEPA ensures on-the-go printing across campuses, reducing the hassle and offering a modern solution to traditional print challenges.",
    imgHref:
      "https://images.placeholders.dev/?width=300&height=100&text=Made%20with%20placeholders.dev&bgColor=%23f7f6f6&textColor=%236d6e71",
  },
];

---

<Layout title="Welcome to My.SMCCD.edu">
  <main class="p-5 container mx-auto">
    <header>
      <h1 class="text-6xl">Student Tutorials</h1>
    </header>
     <section class="mt-12" aria-label="Popular Software and Applications">
      <header><h2 class="text-4xl">Featured Software</h2></header>
      <ul class="mt-8 text-2xl grid grid-cols-3 gap-8 max-w-7xl">
        {PopularItems.map((item) => <Card {...item} />)}
      </ul>
    </section>
    <section class="mt-12" aria-label="Other Useful Software">
      <header>
        <h2 class="text-4xl">Other Apps</h2>
      </header>
      <ul class="mt-8 text-2xl grid grid-cols-4 gap-8 max-w-7xl">
        {OtherItems.map((item) => <Card {...item} />)}
      </ul>
    </section>
  </main>
</Layout>