---
interface Props {
  softwareName: string;
  description?: string;
  href: string;
  imgHref: string;
}

const { href, softwareName, description, imgHref } = Astro.props;
---

<li class="flex flex-col p-5 border-2 rounded-lg shadow-md bg-white">
  <a href={href}>
    <div class="max-h-48">
      <img src={imgHref} alt="" class="w-full h-full object-contain" />
    </div>
    <h2 class="text-3xl text-gray-800 mt-4">
      {softwareName}
    </h2>
    <p class="text-lg mt-3 text-gray-600 text-ellipsis overflow-hidden">
      {description}
    </p>
  </a>
</li>
